*{

    margin: 0;
    padding: 0;
}
body{
    font-family: 'poppins', sans-serif;
}
.navbar{

    background-color:#FD6569 ;
    padding: 20px;
}
.container{
    padding: 10px;

}


.tin{
    width: 20%;
    background-color: black;
    color: white;
    border-radius: 10px;
    padding: 20px;
    margin: 30px ;
    margin-right: 10px;
    display: inline-block;
    vertical-align: top;
}
.tin h2{
    color: #FD6569;
}
.tin button{
    background-color: #FD6569;
    border-radius: 5px;
    padding: 5px;
    margin-top: 10px;
    margin-left: 5px;
    border: none;
}
.tin button:hover{
    cursor: pointer;
}
.add-button{
    background-color: #FD6569;
    color: black;
    border-radius: 100%;
    padding-top:20px;
    padding-bottom:20px ;
    padding-right:30px ;
    padding-left:30px ;
    font-size: 40px;
    border: none;
    position: fixed;
    bottom: 40px;
    right: 30px;

}

.add-button:hover{
    cursor: pointer;
}

.popupoverlay{
    background-color: black;
    opacity: 0.8;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    display: none;

}
.popup-box{
    background-color: #FD6569;
    color: black;
    width: 20%;
    padding: 40px;
    border-radius: 10px;
    position: absolute;
    z-index: 2;
    margin-left: 15%;
    border: none;
    top: 15%;
    left: 20%;
    display: none;
    
}

.popup-box input{
    background: transparent;
    border: none;
    width: 100%;
    margin: 5px;
    padding: 5px;
    border-bottom: solid black 2px;
    font-size: 20pxpx;  
}
.popup-box textarea{
    background: transparent;
    border: none;
    width: 100%;
    margin: 5px;
    padding: 5px;
    border: solid black 2px;
    font-size: 20pxpx;
}
.popup-box input::placeholder{
    color: black;
}
.popup-box textarea::placeholder{
    color: black;
}

.popup-box button{
    background-color: black;
    color: white;
    border-radius: 5px;
    padding: 5px;
    margin-top: 10px;
    border: none;
}
.popup-box input:focus{
    outline: none;
}
.popup-box textarea:focus{
    outline: none;
}
.popup-box button:hover{
    cursor: pointer;
    
}